body {
    font-family: 'Tangerine', cursive;
    font-size: 3em;
    color: #000;
    /*background: url("images/footer_lodyas.png") #111;*/
}

h1, h2 {
    text-align: center;
}

#logo {
    text-align: center;
    margin-top: 10%;
}
